{{#layout}}
	{{#title}}Cuenta{{/title}}
	<div class="jumbotron">
		<div class="container">
			<a href="/"><h1>La Apostada</h1></a>
			<p>Hola {{usuario.name}}, tienes un total de {{usuario.puntos}} puntos</p>
		</div>
	</div>

	<div class="container">
		
		{{#flash}}{{/flash}}
		
		<h2 class="sub-header"><span class="glyphicon glyphicon-ok"></span>&nbsp;Tus apuestas ganadas:</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Equipo local</th>
						<th>Equipo visitante</th>
						<th>Cuota</th>
						<th>Cantidad apostada</th>
						<th>Fecha de la apuesta</th>
					</tr>
				</thead>
				<tbody>
					{{#apuestasGanadas}}
						<tr>
							<td><a href="/equipo/{{partido.equipoLocal.id}}">{{partido.equipoLocal.name}}</a></td>
							<td><a href="/equipo/{{partido.equipoVisitante.id}}">{{partido.equipoVisitante.name}}</a></td>
							<td>{{cuota}}</td>
							<td>{{cantidadApostada}} puntos</td>
							<td>{{fechaBuena}}</td>
						</tr>
					{{/apuestasGanadas}}
				</tbody>
			</table>
		</div>
		<h2 class="sub-header"><span class="glyphicon glyphicon-remove"></span>&nbsp;Tus apuestas perdidas:</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Equipo local</th>
						<th>Equipo visitante</th>
						<th>Cuota</th>
						<th>Cantidad apostada</th>
						<th>Fecha de la apuesta</th>
					</tr>
				</thead>
				<tbody>
					{{#apuestasPerdidas}}
						 <tr>
							<td><a href="/equipo/{{partido.equipoLocal.id}}">{{partido.equipoLocal.name}}</a></td>
							<td><a href="/equipo/{{partido.equipoVisitante.id}}">{{partido.equipoVisitante.name}}</a></td>
							<td>{{cuota}}</td>
							<td>{{cantidadApostada}} puntos</td>
							<td>{{fechaBuena}}</td>
						 </tr>
					{{/apuestasPerdidas}}
				</tbody>
			</table>
		</div>
		<h2 class="sub-header"><span class="glyphicon glyphicon-time"></span>&nbsp;Tus apuestas no finalizadas:</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Equipo local</th>
						<th>Equipo visitante</th>
						<th>Cuota</th>
						<th>Cantidad apostada</th>
						<th>Fecha de la apuesta</th>
					</tr>
				</thead>
				<tbody>
					{{#apuestasNoFinalizadas}}
						 <tr>
							<td><a href="/equipo/{{partido.equipoLocal.id}}">{{partido.equipoLocal.name}}</a></td>
							<td><a href="/equipo/{{partido.equipoVisitante.id}}">{{partido.equipoVisitante.name}}</a></td>
							<td>{{cuota}}</td>
							<td>{{cantidadApostada}} puntos</td>
							<td>{{fechaBuena}}</td>
						 </tr>
					{{/apuestasNoFinalizadas}}
				</tbody>
			</table>
		</div>
		
		{{> footer}}
		
	</div>
	
{{/layout}}
