{{#layout}}
	{{#title}}{{equipo.name}}{{/title}}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>La Apostada</h1>
			<p>Donde vienen los tontos a gastarse los dineros</p>

			<!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>LIGA BBVA</h2>
				<p><a class="btn btn-default" href="/liga/1" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>LIGA ITALIANA</h2>
				<p><a class="btn btn-default" href="/liga/2" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>LIGA ALEMANA</h2>
				<p><a class="btn btn-default" href="/liga/3" role="button">Ver apuestas &raquo;</a></p>
			</div>
		</div>

		<hr>

		<h2 class="sub-header">Apuestas del {{equipo.name}}:</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>LIGA</th>
						<th>Equipo local</th>
						<th>Equipo visitante</th>
						<th>Cuota</th>
						<th>Fecha</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>BBVA</td>
						<td>Real Madrid</td>
						<td>Barsa</td>
						<td>1.5</td>
						<td>21/02/2017</td>
					</tr>
					<tr>
						<td>BBVA</td>
						<td>Betis</td>
						<td>Talavera</td>
						<td>100</td>
						<td>08/02/2017</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
{{/layout}}
