{{#layout}}
	{{#title}}{{equipo.name}}{{/title}}
	<div class="jumbotron">
		<div class="container">
			<h1><a href="/">La Apostada</a></h1>
			<p>La pagina de apuestas favorita de los alumnos de la Universidad Rey Juan Carlos</p>
		</div>
	</div>

	<div class="container">
		
		{{> menuLigas}}
		
		<div class="masthead">
			<nav>
				<ul class="nav nav-justified">
					<li><a href="/equipo/{{equipo.id}}">Partidos Disponibles para apostar</a></li>
					<li><a href="/equipo/{{equipo.id}}/jugados">Partidos jugados</a></li>
				</ul>
			</nav>
		</div>
		
		<hr>

		<h2 class="sub-header">Historial del {{equipo.name}}:</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Equipo local</th>
						<th>Equipo visitante</th>
						<th>Resultado</th>
						<th>Fecha</th>
					</tr>
				</thead>
				<tbody>
					{{#partidos}}
						<tr>
							<td><a href="/equipo/{{equipoLocal.id}}">{{equipoLocal.name}}</a></td>
							<td><a href="/equipo/{{equipoVisitante.id}}">{{equipoVisitante.name}}</a></td>
							<td> {{golLocal}} - {{golVisitante}}</td>
							<td>{{fechaBuena}}</td>
						</tr>
					{{/partidos}}
				</tbody>
			</table>
		</div>
	</div>
{{/layout}}
