{{#layout}}
	{{#title}}{{equipo.name}}{{/title}}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1><a href="/home">La Apostada</a></h1>
			<p>La pagina de apuestas favorita de los alumnos de la Universidad Rey Juan Carlos</p>

		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>LIGA BBVA</h2>
				<p><a class="btn btn-default" href="/liga/1" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>PREMIER LEAGUE</h2>
				<p><a class="btn btn-default" href="/liga/2" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>SERIE A</h2>
				<p><a class="btn btn-default" href="/liga/3" role="button">Ver apuestas &raquo;</a></p>
			</div>
		</div>

		<div class="masthead">
			<nav>
				<ul class="nav nav-justified">
					<li><a href="/equipo/{{equipo.id}}">Partidos Disponibles para apostar</a></li>
					<li><a href="/equipo/{{equipo.id}}/jugados">Partidos jugados</a></li>
				</ul>
			</nav>
		</div>

		<hr>

		{{#flash}}{{/flash}}
		
		<h2 class="sub-header">Apuestas del {{equipo.name}}:</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Equipo local</th>
						<th>Equipo visitante</th>
						<th>CuotaLocal</th>
						<th>CuotaEmpate</th>
						<th>CuotaVisitante</th>
						<th>Fecha</th>
					</tr>
				</thead>
				<tbody>
					{{#partidos}}
						<tr class="form-ajax" data-action="/apuesta/apostar" data-method="POST" data-toggle="buttons">
							<td><a href="/equipo/{{equipoLocal.id}}">{{equipoLocal.name}}</a></td>
							<td><a href="/equipo/{{equipoVisitante.id}}">{{equipoVisitante.name}}</a></td>

							<input type="hidden" name="partido" value="{{id}}">

							<td>
								<label class="btn btn-default">
									<input type="radio" name="resultado" value="1" autocomplete="off">{{cuotaLocal}}
								</label>
							</td>
							<td>
								<label class="btn btn-default">
									<input type="radio" name="resultado" value="2" autocomplete="off">{{cuotaEmpate}}
								</label>
							</td>
							<td>
								<label class="btn btn-default">
									<input type="radio" name="resultado" value="3" autocomplete="off">{{cuotaVisitante}}
								</label>
							</td>

							<td>{{fechaBuena}}</td>
							<td>
								<div class="input-group">
									<input type="text" class="form-control" name="cantidad" placeholder="Cantidad">
									<span class="input-group-btn">
										<input class="btn btn-default enviar-apuesta" type="submit" value="Apostar">
									</span>
								</div>
							</td>
						</tr>
					{{/partidos}}
				</tbody>
			</table>
		</div>
	</div>
{{/layout}}
