{{#layout}}
	{{#title}}Inicio{{/title}}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>La Apostada</h1>
			<p>La página de apuestas favorita de los alumnos de la Universidad Rey Juan Carlos</p>
			<p>Hay un total de {{num_apuestas}}  apuestas en las que participar</p>

		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>LIGA BBVA</h2>
				<p><a class="btn btn-default" href="/liga/1" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>PREMIER LEAGUE</h2>
				<p><a class="btn btn-default" href="/liga/2" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>SERIE A</h2>
				<p><a class="btn btn-default" href="/liga/3" role="button">Ver apuestas &raquo;</a></p>
			</div>
		</div>

		<hr>

		<h2 class="sub-header">Apuestas del momento:</h2>
		<div class="table-responsive">
			<table class="table table-striped">

				<thead>
					<tr>
					
						<th>Equipo local</th>
						<th>Equipo visitante</th>
						<th>CuotaLocal</th>
						<th>CuotaEmpate</th>
						<th>CuotaVisitante</th>
						<th>Fecha</th>
					</tr>
				</thead>
				<tbody>
				{{#equipos}}
					<tr>
												
						<td><a href="/equipo/{{equipoLocal.id}}">{{equipoLocal.name}}</a></td>
						<td><a href="/equipo/{{equipoVisitante.id}}">{{equipoVisitante.name}}</a></td>
						<form action = "template">
							 <td><input type="radio" name="cuota" value="cuotaLocal"  name = "id" value="equipos.id" name ="resultado" value= "1" >{{cuotaLocal}}</td>
						 	 <td><input type="radio" name="cuota" value="cuotaEmpate" name = "id" value="equipos.id" name ="resultado" value= "2" >{{cuotaEmpate}}</td>
							 <td><input type="radio" name="cuota" value="cuotaVisitante" name = "id" value="equipos.id" name ="resultado" value= "3" >{{cuotaVisitante}}</td>
						
							<td>{{fecha}}</td>
							<td><input type="text" name="cantidad" placeholder="Cantidad"></td>
							<td><input type="submit" value="Apostar"></td>
						</form>
						
					</tr>
					{{/equipos}}

				</tbody>
			</table>
		</div>
	</div>
{{/layout}}
