{{#layout}}
	{{#title}}Inicio{{/title}}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>La Apostada</h1>
			<p>Donde vienen los tontos a gastarse los dineros</p>
			<p>Hay un total de {{num_apuestas}}  apuestas en las que participar</p>

			<!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>LIGA BBVA</h2>
				<p><a class="btn btn-default" href="/liga/1" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>PREMIER LIGE</h2>
				<p><a class="btn btn-default" href="/liga/2" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>BUNDESLIGA</h2>
				<p><a class="btn btn-default" href="/liga/3" role="button">Ver apuestas &raquo;</a></p>
			</div>
		</div>

		<hr>

		<h2 class="sub-header">Apuestas del momento:</h2>
		<div class="table-responsive">
			<table class="table table-striped">

				<thead>
					<tr>
					
						<th>Equipo local</th>
						<th>Equipo visitante</th>
						<th>CuotaLocal</th>
						<th>CuotaEmpate</th>
						<th>CuotaVisitante</th>
						<th>Fecha</th>
					</tr>
				</thead>
				<tbody>
				{{#equipos}}
					<tr>
						
						<td>{{equipoLocal.name}}</td>
						<td>{{equipoVisitante.name}}</td>
						<td>{{cuotaLocal}}</td>
						<td>{{cuotaEmpate}}</td>
						<td>{{cuotaVisitante}}</td>
						<td>{{fecha}}</td>
						
					</tr>
					{{/equipos}}

				</tbody>
			</table>
		</div>
	</div>
{{/layout}}
