{{#layout}}
	{{#title}}{{liga.name}}{{/title}}

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1><a href="/home">La Apostada</a></h1>
			<p>La pagina de apuestas favorita de los alumnos de la Universidad Rey Juan Carlos</p>
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>LIGA BBVA</h2>
				<p><a class="btn btn-default" href="/liga/1" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>PREMIER LEAGUE</h2>
				<p><a class="btn btn-default" href="/liga/2" role="button">Ver apuestas &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>SERIE A</h2>
				<p><a class="btn btn-default" href="/liga/3" role="button">Ver apuestas &raquo;</a></p>
			</div>
		</div>

		<div class="masthead">
			<nav>
			  <ul class="nav nav-justified">

				<li class="active"><a href="/liga/{{liga.id}}">Partidos Disponibles para apostar</a></li>
				<li class= "active"><a href="/liga/{{liga.id}}/jugados">Partidos jugados</a></li>

			  </ul>
			</nav>
		</div>

		<hr>

		{{#flash}}{{/flash}}
		
		<h2 class="sub-header">Partidos de la {{liga.name}}:</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Equipo local</th>
						<th>Equipo visitante</th>
						<th>CuotaLocal</th>
						<th>CuotaEmpate</th>
						<th>CuotaVisitante</th>
						<th>Fecha</th>
					</tr>
				</thead>
			<tbody>
				{{#equipos}}
					<tr>
						<td><a href="/equipo/{{equipoLocal.id}}">{{equipoLocal.name}}</a></td>
						<td><a href="/equipo/{{equipoVisitante.id}}">{{equipoVisitante.name}}</a></td>
						<form action = "liga/{{liga.id}}">
							 <td><input type="radio" name="cuota" value="{{cuotaLocal}}"  name = "partido" value="{{equipos}}" name ="resultado" value= "1" name = "fe" value="{{fecha}}">{{cuotaLocal}}</td>
							 <td><input type="radio" name="cuota" value="{{cuotaEmpate}}" name = "partido" value="{{equipos}}" name ="resultado" value= "2" name = "fe" value="{{fecha}}" >{{cuotaEmpate}}</td>
							 <td><input type="radio" name="cuota" value="{{cuotaVisitante}}" name = "partido" value="{{equipos}}" name ="resultado" value= "3" name = "fe" value="{{fecha}}" >{{cuotaVisitante}}</td>

							<td>{{fecha}}</td>
							<td><input type="text" name="cantidad" placeholder="Cantidad"></td>
							<td><input type="submit" value="Apostar"></td>
						</form>
					</tr>
				{{/equipos}}
			</table>
		</div>
	</div>
{{/layout}}
