<div class="row">
	<div class="col-md-4">
		<h2><span class="glyphicon glyphicon-tower"></span>&nbsp;LIGA BBVA</h2>
		<p><a class="btn btn-default" href="/liga/1" role="button">Ver apuestas &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2><span class="glyphicon glyphicon-tower"></span>&nbsp;PREMIER LEAGUE</h2>
		<p><a class="btn btn-default" href="/liga/2" role="button">Ver apuestas &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2><span class="glyphicon glyphicon-tower"></span>&nbsp;SERIE A</h2>
		<p><a class="btn btn-default" href="/liga/3" role="button">Ver apuestas &raquo;</a></p>
	</div>
</div>
